# Бот
TGBOT_TOKEN=your_telegram_bot_token_here
# Менеджерский чат (через запятую, числа)
MANAGER_CHAT_IDS=
# URL WebApp (ngrok https URL на порт 5173)
WEBAPP_URL=
# Порты
PORT_SERVER=3000
PORT_WEB=5173
NODE_ENV=development
# NGROK
NGROK_AUTHTOKEN=
